.logo {
    float: left;
    width: 269px;
    height: 70px;
    @include bg(0, 0, "logo.png");
    margin-top: 28px;
    margin-left: 15px;
}

.logo-link {
    width: 100%;
    height: 100%;
    display: block;
}

.header {
    height: 118px;
    color: $clr_white;
    font-size: 1.4em;
    background: -moz-linear-gradient(90deg, rgba(83, 83, 83, 1) 0%, rgba(127, 127, 127, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(127, 127, 127, 1)), color-stop(100%, rgba(83, 83, 83, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(83, 83, 83, 1) 0%, rgba(127, 127, 127, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(83, 83, 83, 1) 0%, rgba(127, 127, 127, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(83, 83, 83, 1) 0%, rgba(127, 127, 127, 1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(83, 83, 83, 1) 0%, rgba(127, 127, 127, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#535353', GradientType=0); /* ie6-9 */
}

.header-content {
    margin-left: 280px;
    margin-right: 160px;
    text-align: center;
}

.social {

    a {
        @include inblock;
        width: 31px;
        height: 31px;
        @include bg();
        margin: 0 5px 2px 4px;

        &.fb {
            background-position: 0 0;
        }
        &.tw {
            background-position: -33px 0;
        }
        &.ut {
            background-position: -66px 0;
        }
        &.del {
            background-position: -99px 0;
        }

    }

}

.nav {
    margin: 20px 0 15px;

    a {
        color: $clr_white;
        text-transform: uppercase;
        text-decoration: none;
        border-left: 1px solid $clr_white;
        padding: 0 15px;

        &:first-child {
            border-left: 0 none;
        }

        &:hover,
        &.active {
            text-decoration: underline;
        }
    }
}

.address {
}

.contact-us {
    float: right;
    margin-right: 15px;
    text-align: right;
}

.btn-phone {
    color: $clr_link;
    width: 134px;
    height: 43px;
    text-align: center;
    line-height: 42px;
    @include bg(0, 0, "btn-phone-bg.png");
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    @include inblock;
}

.phone {
    margin-top: 10px;
}

.gallery-block {
    height: 252px;
    @include bg(0, 0, "gallery-bg.jpg");
    background-size: cover; /*&&&&&&&&&&&&&*/
}

.video-block {
    float: left;
}

.gallery {
    margin-left: 427px;
}

.slick-dots {
    text-align: right;
    margin-top: -20px;

    li {
        margin: 0 5px;

        button:hover,
        button:focus {
            border: 2px solid #000;
            background-color: #000;
        }
    }

}

.main-menu-wrapper {
    background-color: #00478b;
    padding: 12px 0;

    ._ico {
        @include icon(51px, 49px, 0, 0, 27px, 22px);

        &.ico-1 {
            background-position: 0 -33px;
        }
        &.ico-2 {
            background-position: -53px -33px;
        }
        &.ico-3 {
            background-position: 0 -83px;
        }
        &.ico-4 {
            background-position: -53px -83px;
        }

    }
}

.main-menu-item {
    position: relative;
    @include inblock;
    @include bg(0, 0, "main-menu-bg.png");
    width: 150px;
    height: 70px;
    padding-left: 100px;
    padding-top: 27px;
    margin-left: 5px;
    font-size: 1.9em;
    font-weight: 700;
    text-decoration: none;

    &:first-child {
        margin-left: 0;
    }
    &:hover {
        text-decoration: underline;
    }

}

.main-content {
    background-color: #fff;

}

.aside-left {
    float: left;
    width: 230px;
}

.aside-left-menu {
    background-color: $bg_gray;
    padding: 15px;
    margin: 0 0 10px;

    a {
        text-decoration: none;
        font-size: 1.5em;
        width: 100%;
        display: inline-block;
        height: 100%;
        padding: 6px 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        list-style: none;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #8c8c8b;

        &:first-child {
            border-top: 0 none;
        }
    }
}

.aside-right {
    float: right;

}

.aside-right-item {
    display: block;
    width: 159px; /*209*/
    height: 59px; /*77*/
    padding: 18px 25px 0;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    @include bg(0, 0, "aside-right-bg.png");
    margin-top: 8px;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.social-likes {
    height: 48px; /*todo*/
}

.main-content-block {
    margin: 0 230px 20px 250px;

    p {
        font-size: 1.4em;

    }
}

.live-chat-link {
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 230px;
    height: 63px;
    padding: 22px 0 0 25px;
    text-align: center;
    display: block;
    @include bg(0, 0, "live-chat-bg.png");
    position: relative;

    &:hover {
        text-decoration: underline;
    }

    ._ico {
        @include icon(42px, 34px, -106px, -33px, 42px, 16px);
    }
}

.adv {
    width: 208px;
    height: 64px;
    border: 1px solid #c7c7c7;
    @include bg(15px, 7px, "aside-logo.png");
    margin-top: 9px;

}

.adv-logo {
    display: block;
    width: 100%;
    height: 100%;
}

.h1_title,
.h2_title {
    margin-top: 0;
    text-transform: uppercase;
    color: $clr_link;
}

.h1_title {
    font-size: 2.5em;

}

.h2_title {
    font-size: 2em;
}

.footer-top {
    background: -moz-linear-gradient(270deg, rgba(131, 131, 131, 1) 0%, rgba(86, 86, 86, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(131, 131, 131, 1)), color-stop(100%, rgba(86, 86, 86, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(131, 131, 131, 1) 0%, rgba(86, 86, 86, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(131, 131, 131, 1) 0%, rgba(86, 86, 86, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(131, 131, 131, 1) 0%, rgba(86, 86, 86, 1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(131, 131, 131, 1) 0%, rgba(86, 86, 86, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#838383', endColorstr='#565656', GradientType=0); /* ie6-9 */
}

.footer-right-block {
    float: left;
    color: $clr_white;
    margin-left: 15px;
    font-size: 1.3em;
    margin-bottom: 12px;
    line-height: 18px;
}

.logo-small {
    width: 227px;
    height: 62px;
    @include bg(0, 0, "logo-small.png");
    margin: 12px 0 7px 9px;
}

.logo-link-small {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-nav {
    margin-left: 270px;
    text-align: center;
    margin-right: 15px;
    margin-top: 25px;

    a {
        @include inblock;
        font-size: 13px;
        color: $clr_white;
        border-right: 2px solid #003082;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
            text-decoration: underline;
        }

    }
}
.footer-bottom {
    background-color: #bbbbbb;
    font-size: 1.3em;
}
.design-copyright {
    float: right;
    margin:15px 0;

}
.copyright {
    float: left;
    margin:15px 0;
}