$clr_def: #606060;
$clr_title: #444444;

$clr_green: #014d2e;
$clr_red: #d81415;
$clr_gray: #767575;
$clr_gray_form: #ebeced;

$bg_gray: #eeeeee;
$bg_yellow: #820084;

$bg_pink: #820084;
$bg_pink_hover: #970084;
$bg_green: #7fb000;
$bg_green_hover: #a0be3f;


$clr_link: $clr_red;

$page_min: 1000px;
$page_max: 1000px;
$height_footer: 215px;

$pt: 'Roboto', Arial, Helvetica, sans-serif;
$ptr: Tahoma, Arial, Helvetica, sans-serif;

$grid_gutter_width: 20px;