$clr_def: #000;
$clr_title: #444444;
$clr_white: #fff;

$clr_green: #014d2e;
$clr_red: #d81415;
$clr_gray: #767575;
$clr_gray_form: #ebeced;

$bg_gray: #b5b5b5;
$bg_yellow: #820084;

$bg_pink: #820084;
$bg_pink_hover: #970084;
$bg_green: #7fb000;
$bg_green_hover: #a0be3f;


$clr_link: #003082;

$page_min: 1024px;
$page_max: 1024px;
$height_footer: 180px;

$pt: 'Roboto', Arial, Helvetica, sans-serif;
$ptr: Tahoma, Arial, Helvetica, sans-serif;

$grid_gutter_width: 20px;